/.vscode-test/
/media/*.js
/node_modules/
**/out/
.coverage/
coverage/
.scannerwork/
*.vsix

# graphify sidecars (the generated graph artifacts are tracked)
/graphify-out/.graphify_*
/graphify-out/cache/
/graphify-out/manifest.json
/graphify-out/graph.html
# dated curated-graph backups written by `graphify update`
/graphify-out/[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]/

*.orig
