# Ignore everything
*
*/**

# Whitelist files
!LICENSE
!LICENSE.mit
!NOTICE.md
!CHANGELOG.md
!package.nls*.json
!telemetry.json
!out/
!media/
!l10n/

!resources/icon.png
!resources/webview-icon-color-dark.svg
!resources/webview-icon-color-light.svg
!resources/webview-icon-grey-dark.svg
!resources/webview-icon-grey-light.svg
